// 全体のスタイル
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
